@{
    ViewData["Title"] = "Home Page";
}

<div class="p-4 pt-5">
    <h1 class="display-5">
        Monitor Buckland
    </h1>

    <div class="d-flex">
        <div class="">

        </div>
    </div>
</div>
